name: எண்ணிக்கை பைத்தான்

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: 'bash'

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.12"]
        os: [macos-latest, ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: PDM நிறுவல்
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: true
          cache-dependency-path: |
            ./பை/pdm.lock

      - name: நிருவல்
        run: cd பை && pdm togupu && pdm install

      - name: சோதனைகள்
        run: cd பை && pdm cov && pdm run coverage xml

      - name: Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
